.nouveau-etudiant {
  background-color: #670b62;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.nouveau-etudiant button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #7e1ba5;
  background-color: #7e1ba5;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.nouveau-etudiant button:hover,
.nouveau-etudiant button:active {
  background-color: #ff5bff;
  border-color: #ff5bff;
}

.nouveau-etudiant button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.nouveau-etudiant button.alternative:hover,
.nouveau-etudiant button.alternative:active {
  background-color: #ddb3f8;
}
