.card-cours {
    margin: 1rem;
    width: calc(45% - 2rem);
    min-width: 17.5rem;
  }
  
  .card-cours a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 1rem;
    background:#670b62;
  }
  
  .card-cours a:hover,
  .card-cours a:active {
    background: #ff5bff;    
  }
  
  .card-cours__content {
    padding: 0;
  }
  
  .card-cours__info h2 {
    font-size: 1.5rem;
    margin: 0 0 0.5rem 0;
    font-weight: normal;
    padding-right: 5%;
    text-align: left;
    color: rgb(255, 255, 255);
  }
  
  .card-cours:hover h2 {
    color: white;
  }
  .card-cours:active h2,
  .card-cours:hover h3,
  .card-cours:active h3 {
    color: #670b62;
  }
  
  .card-cours h3 {
    margin: 0;
  }