.card-prof {
    margin: 1rem;
    width: calc(45% - 2rem);
    min-width: 17.5rem;
  }
  
  .card-prof a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 1rem;
    color: white;
    background: #670b62;
  }
  
  .card-prof a:hover,
  .card-prof a:active {
    background: #ff5bff;
  }
  
  .card-prof__content {
    padding: 0;
  }
  
  .card-prof__image {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
  }
  
  .card-prof__info h2 {
    font-size: 1.5rem;
    margin: 0 0 0.5rem 0;
    font-weight: normal;
    color: white;
  }
  
  .card-prof:hover h2,
  .card-prof:active h2,
  .card-prof:hover h3,
  .card-prof:active h3 {
    color: #670b62;
  }
  
  .card-prof__info h3 {
    margin: 0;
  }